@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli v spletni knjižnici!</h1>

    <div>
        Seznam gradiv: @Html.ActionLink("Klikni tukaj!", "Index", "Gradiva")
    </div>
    <br><br>
    <div>
        NOVICE
    </div>
    <br>
    <div>
        O knjižnici: Ta spletna knjižnica je nastala pri projektu IS. Ustvarila sta jo Bogdan Korbar in Timotej Blažič.
        Za vsa vprašanja, probleme, popravke ter druge informacije smo za vas na voljo na elektronski pošti Korbar.Blazic@knjiznica.si
    </div>
</div>
